
<div class="container-fluid">
  <div class="row">
      <form #goalForm='ngForm'>
          <div class="form-group">

            <label for="name"> Title </label>
            <input type="text" required class="form-control" id="title" [(ngModel)]="newQuote.title" name="title">
               {{newQuote.title}}

              <label for="name">Author</label>
              <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author">
          <!--Testing  to see if we get data-->


          </div>
          <div class="form-group">

              <label for="description">Inspirational Quote</label>
              <textarea class="form-control" id="description" rows="4" required></textarea>

          </div>

          <div class="form-group">
            <label for="submitter"> By </label>
            <input type="text" required class="form-control" id="submitter" [(ngModel)]="newQuote.submitter" name="submitter">
          </div>
          <div class="form-group">
              <label for="complete Date">Date of Submission</label>
              <input type='date' id="complete" required>

          </div>
          <form (ngSubmit) ='submitQuote()' #quoteForm ='ngForm'>
          <button type= "Submit" class = "sbm">Add new quote</button>
        </form>
       </form>
  </div>
</div>